/**********
RESET
**********/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ul {
  list-style-type: none;
}

header {
  background-color: goldenrod;
  display: flex;
  padding: 1.25rem;
  justify-content: space-between;
  align-items: center;
}

/* header > * {
  background-color: antiquewhite;
} */

/*
.menu {
  display: flex;
  gap: 20px;
}

main {
  display: flex;
  align-items: flex-start;
}

.left {
  width: 300px;
  height: 300px;
  flex-shrink: 0;
  background-color: brown;
  order: 2;
}

.right {
  flex-grow: 1;
  background-color: green;
  align-self: center;
  order: 1;
}

.demo > * {
  background-color: yellow;
  border: 1px solid black;
}

.flex-demo {
  display: flex;
}

.box {
  width: 200px;
  background-color: brown;
  border: 1px solid black;
}

.box-1 {
  display: flex;
}

.box-children {
  background-color: yellow;
  border: 1px solid black;
} */

.container {
  background-color: yellow;
  margin: 20px auto;
  width: 960px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  /* gap: 15px; */
}

.col {
  background-color: brown;
  border: 1px solid black;
  height: 100px;
  width: calc(100% / 3 - 30px);
  /* flex-shrink: 1;
  flex-grow: 0; */
  flex-shrink: 0;
  margin: 15px;
}

.col-wow {
  width: calc((100% / 3) * 2 - 30px);
}
